# Database Configuration
POSTGRES_USER=labuser
POSTGRES_PASSWORD=labpassword
POSTGRES_DB=backendlab
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Application Setup
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
